.main {
  max-width: var(--max-width);
  margin: auto;
  padding: 4.375rem 9.375rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 3.938rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 3.375rem 1rem;
  }
}